html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1em;
    text-align: center;
}

/* Aangepaste stijlen voor nav button */
nav button {
    background: none; 
    color: black;
    border: none; 
    padding: 10px 20px;
    margin: 0 10px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    border-radius: 0; 
    box-shadow: none; 
    font-weight: bold;
    text-transform: uppercase;
    position: relative; 
}


nav button:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #a95728;
    position: absolute;
    bottom: -10px;
    left: 0;
}

main {
    padding: 20px;
}

footer {
    color: black;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ddd; 
    font-size: 10px
}

/* Stijlen voor het logo */
#logo {
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 20px auto; 
}
    